{{ render(url('sylius_admin_partial_customer_show', {
    'id': app.request.attributes.get('id'),
    'template': '@AscendBase/Admin/Customer/Order/Index/_customerHeader.html.twig',
    'vars': configuration.vars
})) }}
