{% extends '@AscendBase/Admin/layout.html.twig' %}

{% set definition = resources.definition %}
{% set data = resources.data %}
{% set event_prefix = metadata.applicationName ~ '.admin.' ~ metadata.name ~ '.index' %}

{% set header = configuration.vars.header|default(metadata.applicationName~'.ui.'~metadata.pluralName) %}

{% block title %}{{ header|trans }} {{ parent() }}{% endblock %}

{% block content %}
{{ sylius_template_event(event_prefix ~ '.before_header', {'resources': resources}) }}

{% include '@AscendBase/Admin/Crud/Index/_header.html.twig' %}

{{ sylius_template_event(event_prefix ~ '.after_header', {'resources': resources}) }}

{% include '@AscendBase/Admin/Crud/Index/_content.html.twig' %}

{{ sylius_template_event(event_prefix ~ '.after_content', {'resources': resources}) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ sylius_template_event(event_prefix ~ '.stylesheets') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ sylius_template_event(event_prefix ~ '.javascripts') }}
{% endblock %}
