{% extends '@AscendBase/Admin/layout.html.twig' %}

{% set header = configuration.vars.header|default(metadata.applicationName~'.ui.edit_'~metadata.name) %}
{% set event_prefix = metadata.applicationName ~ '.admin.' ~ metadata.name ~ '.update' %}

{% block title %}{{ header|trans }} {{ parent() }}{% endblock %}

{% form_theme form '@AscendBase/Admin/Form/theme.html.twig' %}

{% block content %}
{{ sylius_template_event(event_prefix ~ '.before_header', {'resource': resource}) }}

{% include '@AscendBase/Admin/Crud/Update/_header.html.twig' %}

{{ sylius_template_event(event_prefix ~ '.after_header', {'resource': resource}) }}

{% include '@AscendBase/Admin/Crud/Update/_content.html.twig' %}

{{ sylius_template_event(event_prefix ~ '.after_content', {'resource': resource}) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ sylius_template_event(event_prefix ~ '.stylesheets') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ sylius_template_event(event_prefix ~ '.javascripts') }}
{% endblock %}
