{% extends '@SyliusUi/Layout/sidebar.html.twig' %}

{% block title %} | {{ 'sylius.ui.title'|trans|title }}{% endblock %}

{% block stylesheets %}
    {% include '@SyliusUi/_stylesheets.html.twig' with {'path': 'bundles/ascendbase/css/style.css'} %}
    {% include '@SyliusUi/_stylesheets.html.twig' with {'path': 'bundles/ascendbase/css/select2.min.css'} %}

    {{ sylius_template_event('sylius.admin.layout.stylesheets') }}
{% endblock %}

{% block flash_messages %}
    {% include '@AscendBase/Admin/_flashes.html.twig' %}
{% endblock %}

{% block topbar %}
    <a class="icon item" id="sidebar-toggle" title="{{ 'sylius.ui.toggle_sidebar'|trans }}">
        <i class="sidebar icon"></i>
    </a>

    {{ sylius_template_event('sylius.admin.layout.topbar_left') }}

    <div class="ui left floated dividing empty item"></div>

    {{ sylius_template_event('sylius.admin.layout.topbar_middle') }}

    <div class="ui right floated dividing empty item"></div>

    {% include '@AscendBase/Admin/_security.html.twig' %}

    {{ sylius_template_event('sylius.admin.layout.topbar_right') }}
{% endblock %}

{% block sidebar %}
    {{ sylius_template_event('sylius.admin.layout.sidebar_top') }}

    <a class="item" href="{{ path('admin_homepage')}}"><b>{{ 'sylius.ui.title'|trans }}</b></a>
    {{ knp_menu_render('sylius.admin.main', {'template': '@SyliusUi/Menu/sidebar.html.twig', 'currentClass': 'active'}) }}


    {{ sylius_template_event('sylius.admin.layout.sidebar_down') }}
{% endblock %}

{% block footer %}

{% endblock %}

{% block javascripts %}
    {% include '@SyliusUi/_javascripts.html.twig' with {'path': 'bundles/ascendbase/js/app.js'} %}
    {% include '@SyliusUi/_javascripts.html.twig' with {'path': 'bundles/ascendbase/js/select2.min.js'} %}

    {{ sylius_template_event('sylius.admin.layout.javascripts') }}

    <script>
        jQuery(document).ready(function () {
            jQuery('.select2-select').select2();
        });
    </script>
{% endblock %}
