{% extends '@AscendBase/Admin/layout.html.twig' %}

{% block title %}{{ 'sylius.ui.dashboard'|trans }} {{ parent() }}{% endblock %}

{% block content %}

{#{{ sylius_template_event('sylius.admin.dashboard.before_header', {'channel': channel, 'statistics': statistics}) }}#}

{% include '@AscendBase/Admin/Dashboard/_header.html.twig' %}

{#{{ sylius_template_event('sylius.admin.dashboard.after_header', {'channel': channel, 'statistics': statistics}) }}#}

{#{% include 'Admin/Dashboard/_menu.html.twig' %}#}

{#{{ sylius_template_event('sylius.admin.dashboard.after_menu', {'channel': channel, 'statistics': statistics}) }}#}

{#{% include 'Admin/Dashboard/_statistics.html.twig' %}#}

{#{{ sylius_template_event('sylius.admin.dashboard.after_statistics', {'channel': channel, 'statistics': statistics}) }}#}

<div class="ui two column stackable grid">
    <div class="column">
        {#{{ render(url('sylius_admin_partial_customer_latest', {'count': 5, 'template': 'Admin/Dashboard/_customers.html.twig'})) }}#}
    </div>
    <div class="column">
        {#{{ render(path('sylius_admin_partial_order_latest_in_channel', {'channelCode': channel.code, 'count': 5, 'template': 'Admin/Dashboard/_orders.html.twig'})) }}#}
    </div>
</div>

{#{{ sylius_template_event('sylius.admin.dashboard.after_content', {'channel': channel, 'statistics': statistics}) }}#}
{% endblock %}
