{% form_theme form '@SyliusUi/Form/theme.html.twig' %}


<div class="sylius-filters__group">
    {{ form_row(form.min, { attr: {'class': 'sylius-filters__group'}, 'label': filter.label|trans ~ ' | ' ~ form.min.vars.label|trans }) }}
    <div class="disabled field">
        <label>&nbsp;</label>
        <input type="text" value="-" disabled>
    </div>
    {{ form_row(form.max, { attr: {'class': 'sylius-filters__group'} }) }}
</div>
