<div class="ui stackable two column grid">
    <div class="column">
        {% include configuration.vars.templates.header_title|default('@AscendBase/Admin/Crud/Index/_headerTitle.html.twig') %}
        {% include configuration.vars.templates.breadcrumb|default('@AscendBase/Admin/Crud/Index/_breadcrumb.html.twig') %}

        {{ sylius_template_event(event_prefix ~ '.header', {'resources': resources}) }}
    </div>

    {% include '@AscendBase/Admin/Crud/Index/_actions.html.twig' %}
</div>
