{% form_theme form 'SyliusAdminBundle:Product/Attribute:attributesCollection.html.twig' %}

<div class="ui tab" data-tab="attributes">
    <h3 class="ui dividing header">{{ 'sylius.ui.attributes'|trans }}</h3>
    {{ render(url('sylius_admin_get_product_attributes')) }}
    <div id="attributesContainer" data-count="{{ form.attributes|length }}">
        {{ form_widget(form.attributes, {'attr': {'translations': form.translations} }) }}
    </div>

    {{ sylius_template_event('sylius.admin.product.' ~ action ~ '.tab_attributes', {'form': form}) }}
</div>
