{% extends '@AscendBase/Admin/layout.html.twig' %}

{% set definition = resources.definition %}
{% set data = resources.data %}

{% set header = configuration.vars.header|default(metadata.applicationName~'.ui.'~metadata.pluralName) %}

{% block title %}{{ header|trans }} {{ parent() }}{% endblock %}

{% block content %}
    {{ sylius_template_event('sylius.admin.product.index.before_header', {'resources': resources}) }}

    <div class="ui stackable two column grid">
        {% include '@AscendBase/Admin/Product/Index/_header.html.twig' %}
        {% include '@AscendBase/Admin/Crud/Index/_actions.html.twig' %}
    </div>

    {{ sylius_template_event('sylius.admin.product.index.after_header', {'resources': resources}) }}

    <div class="ui two column stackable grid">
        <div class="three wide column">
            {{ sylius_template_event('sylius.admin.product.index.before_taxon_tree', {'resources': resources}) }}

            {{ render(path('sylius_admin_partial_taxon_tree', {'template': '@AscendBase/Admin/Taxon/_treeWithoutButtons.html.twig'})) }}

            {{ sylius_template_event('sylius.admin.product.index.after_taxon_tree', {'resources': resources}) }}
        </div>
        <div class="thirteen wide column sylius-product-index">
            {{ sylius_template_event('sylius.admin.product.index.before_filters', {'resources': resources}) }}

            {% include '@AscendBase/Admin/Crud/Index/_content.html.twig' %}
        </div>
    </div>

    {{ sylius_template_event('sylius.admin.product.index.after_content', {'resources': resources}) }}
{% endblock %}
