{% extends '@AscendBase/Admin/layout.html.twig' %}

{% block title %}{{ 'sylius.ui.customer'|trans ~' '~ customer.email }} {{ parent() }}{% endblock %}

{% block content %}
    {{ sylius_template_event('sylius.admin.customer.show.before_header', {'resource': resource}) }}

    <div class="ui stackable two column grid">
        {% include '@AscendBase/Admin/Customer/Show/_header.html.twig' %}

        {{ sylius_template_event('sylius.admin.customer.show.header', {'resource': resource}) }}

        {% set menu = knp_menu_get('sylius.admin.customer.show', [], {'customer': customer}) %}
        {{ knp_menu_render(menu, {'template': '@SyliusUi/Menu/top.html.twig'}) }}
    </div>

    {{ sylius_template_event('sylius.admin.customer.show.after_header', {'resource': resource}) }}

    <div class="ui divider"></div>
    {% include '@AscendBase/Admin/Customer/Show/_breadcrumb.html.twig' %}

    {{ sylius_template_event('sylius.admin.customer.show.after_breadcrumb', {'resource': resource}) }}

    {{ render(path('sylius_admin_customer_orders_statistics', {'customerId': customer.id})) }}

    {{ sylius_template_event('sylius.admin.customer.show.after_statistics', {'resource': resource}) }}

    <div class="ui stackable grid">
        {% include '@AscendBase/Admin/Customer/Show/_content.html.twig' %}
        {% include '@AscendBase/Admin/Customer/Show/_address.html.twig' %}
    </div>

    {{ sylius_template_event('sylius.admin.customer.show.after_content', {'resource': resource}) }}
{% endblock %}
