{% extends '@SyliusUi/Layout/centered.html.twig' %}

{% block title %}Admin | {{ 'sylius.ui.administration_panel_login'|trans }}{% endblock %}

{% block stylesheets %}
    {% include '@SyliusUi/_stylesheets.html.twig' with {'path': 'bundles/ascendbase/css/style.css'} %}
{% endblock %}

{% block content %}

    {% import '@SyliusUi/Macro/messages.html.twig' as messages %}

    <div class="ui middle aligned center aligned grid">
        <div class="column">

            {% if last_error %}
                <div class="ui left aligned basic segment">
                    {{ messages.error(last_error.message) }}
                </div>
            {% endif %}

            <form method="post" class="ui large loadable form" novalidate="novalidate">
                <div class="ui left aligned segment">
                    <div class="required field"><label for="_username" class="required">Username</label>
                        <input type="text" value="{{ last_username|default('') }}" id="_username" name="_username" required="required"/></div>
                    <div class="required field"><label for="_password" class="required">Password</label><input type="password" id="_password"
                                                                                                               name="_password" required="required"/>
                    </div>
                    <div class="field">
                        <div class="ui toggle checkbox"><input type="checkbox" id="_remember_me" name="_remember_me" value="1"/>
                            <label for="_remember_me">Remember me</label></div>
                    </div>
                    <input type="hidden" name="_csrf_admin_security_token" value="HVI2WnfnzthM5p2porIWC5hMkwgl5rb89LROjnoQt34">
                    <button type="submit" class="ui fluid large primary submit button">Login</button>
                </div>


            </form>

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {% include '@SyliusUi/_javascripts.html.twig' with {'path': 'bundles/ascendbase/js/app.js'} %}
{% endblock %}